<!DOCTYPE html>

<!--[if lt IE 9]> <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="no-js"><!--<![endif]-->

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{ site.project }} ‹ {{ site.producer }}</title>

    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link type="text/css" rel="stylesheet" href="/css/main.less">

    <link rel="icon" href="/img/favicon48.png" type="image/png">
    <link rel="shortcut icon" href="/img/favicon48.png" type="image/png">

  </head>

  <body>

    <div class="site-wrap">

      <header class="site-header">
        <div class="limit">
          <a class="logo" href="/">{{ site.producer }}</a>
        </div>
      </header>

      <main class="site-content">

        <div class="limit">
          <h1>{{ site.project }} templates</h1>
          <section class="section" id="templates">
            <ul class="clean">
              {{#sitemap.routes}}
                {{#view}}
                <li>
                  <a href="{{rule}}">{{name}}</a>
                </li>
                {{/view}}

                {{^view}}
                <li title="No template assigned!">{{name}}</li>
                {{/view}}
              {{/sitemap.routes}}
            </ul>
          </section>
        </div>

      </main>

    </div>

  </body>

</html>
